ENV_STATE=local
SECRET_KEY=secret123

CELERY_BROKER_URL = "redis://redis:6379/0"
CELERY_RESULT_BACKEND = "redis://redis:6379/0"
CELERY_ACCEPT_CONTENT = ["json"]
CELERY_TASK_SERIALIZER = "json"
CELERY_RESULT_SERIALIZER = "json"
CELERY_TIMEZONE = "UTC"

DB_NAME=fastapi-django-template
DB_USER=fastapi
DB_PASSWORD=fastapi
DB_HOST=postgres
DB_PORT=5432
DJANGO_SETTINGS_MODULE=config.settings.local
